<!-- Start::row-1 -->
<div class="row">
  <div class="col-xl-12">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">
          Create Project
        </div>
      </div>
      <div class="card-body">
        <div class="row gy-3">
          <div class="col-xl-4">
            <label for="input-label" class="form-label">Project Name :</label>
            <input type="text" class="form-control" id="input-label" placeholder="Enter Project Name">
          </div>
          <div class="col-xl-4">
            <label for="input-label11" class="form-label">Project Manager :</label>
            <input type="text" class="form-control" id="input-label11" placeholder="Project Manager Name">
          </div>
          <div class="col-xl-4">
            <label for="input-label1" class="form-label">Client / Stakeholder :</label>
            <input type="text" class="form-control" id="input-label1" placeholder="Enter Client Name">
          </div>
          <div class="col-xl-12">
            <label class="form-label">Project Description :</label>
            <div id="project-descriptioin-editor">
              <angular-editor [(ngModel)]="htmlContent" [config]="config">
              </angular-editor>
            </div>
          </div>
          <div class="col-xl-6">
            <label class="form-label">Start Date :</label>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-text text-muted"> <i class="ri-calendar-line"></i> </div>
                <input
                type="text"
                class="form-control flatpickr-input"
                placeholder="Choose date and time"
                name="dp"
                mwlFlatpickr
                [(ngModel)]="basicDemoValue"
              />

                </div>
              </div>
            </div>
            <div class="col-xl-6">
              <label class="form-label">End Date :</label>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-text text-muted"> <i class="ri-calendar-line"></i> </div>
                  <input
                  type="text"
                  class="form-control flatpickr-input"
                  placeholder="Choose date and time"
                  name="dp"
                  mwlFlatpickr
                  [(ngModel)]="basicDemoValue1"
                />
                  </div>
                </div>
              </div>
              <div class="col-xl-6">
                <label class="form-label">Status :</label>
                <ng-select [items]="simpleItems" [(ngModel)]="selectedSimpleItem">
                </ng-select>
              </div>
              <div class="col-xl-6">
                <label class="form-label">Priority :</label>
                <ng-select [items]="simpleItems1" [(ngModel)]="selectedSimpleItem1">
                </ng-select>
              </div>
              <div class="col-xl-6">
                <label class="form-label">Assigned To</label>
                <ng-select [multiple]="true" [(ngModel)]="selectedCars">
                  @for (car of cars; track car) {
                    <ng-option [value]="car.id">{{car.name}}</ng-option>
                  }
                  <ng-option [value]="'custom'">Custom</ng-option>
                </ng-select>
              </div>
              <div class="col-xl-6">
                <label class="form-label">Tags</label>
                <ng-select
                  [items]="[]"
                  class=""
                  id="choices-text-unique-values"
                  placeholder="Type and Enter To Add"
                  [addTag]="true"
                  [multiple]="true"
                  [selectOnTab]="true"
                  [isOpen]="false"
                  >
                </ng-select>
              </div>
              <div class="col-xl-12">
                <label class="form-label">Attachments</label>
                <ngx-dropzone
                  class="box-container flex-col dropzone"
                  [accept]="'image/*'"
                  (change)="OnSelect2($event)"
                  >
                  <ngx-dropzone-label>Drop Files here to upload</ngx-dropzone-label>
                  @for (f of files2; track f) {
                    <ngx-dropzone-preview class="dropzone-preview"
                      [removable]="true"
                      (removed)="OnRemove2(f)"
                      >
                      <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                    </ngx-dropzone-preview>
                  }
                </ngx-dropzone>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-primary-light btn-wave ms-auto float-end">Create Project</button>
          </div>
        </div>
      </div>
    </div>
    <!--End::row-1 -->