<!-- Start::row-1 -->
<div class="row justify-content-center mb-5">
    <div class="col-xl-12">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center p-3 faq-header mb-4">
                    <h5 class="mb-1 text-primary op-5 fw-semibold">F.A.Q's</h5>
                    <h4 class="mb-1 fw-semibold">Frequently Asked Questions</h4>
                    <p class="fs-15 text-muted op-7">We have shared some of the most frequently asked questions to help
                        you out! </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-10">
        <div class="row">
            <div class="col-xl-6">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                            General Topics ?
                        </div>
                    </div>
                    <div class="card-body">
                        <div ngbAccordion #accordion="ngbAccordion" class="accordion accordion-customicon1 accordion-primary"
                            [closeOthers]="true" id="accordionFlushExample">
                            <div ngbAccordionItem="first" [collapsed]="false">
                                <h2 ngbAccordionHeader>
                                    <button ngbAccordionButton> Where can I subscribe to your newsletter?</button>
                                </h2>
                                <div ngbAccordionCollapse>
                                    <div ngbAccordionBody>
                                        <ng-template>
                                            <strong>This is the first item's accordion body.</strong> It is shown by
                                            default, until the collapse plugin adds the appropriate classes that we
                                            use to style each element
                                            <code>.accordion-body</code>, though the transition does limit overflow.
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                            <div ngbAccordionItem="second">
                                <h2 ngbAccordionHeader>
                                    <button ngbAccordionButton> Where can in edit my address?</button>
                                </h2>
                                <div ngbAccordionCollapse>
                                    <div ngbAccordionBody>
                                        <ng-template>
                                            <strong>This is the first item's accordion body.</strong> It is shown by
                                            default, until the collapse plugin adds the appropriate classes that we
                                            use to style each element
                                            <code>.accordion-body</code>, though the transition does limit overflow.
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                            <div ngbAccordionItem="Third">
                                <h2 ngbAccordionHeader>
                                    <button ngbAccordionButton> What are your opening hours?</button>
                                </h2>
                                <div ngbAccordionCollapse>
                                    <div ngbAccordionBody>
                                        <ng-template>
                                            <strong>This is the first item's accordion body.</strong> It is shown by
                                            default, until the collapse plugin adds the appropriate classes that we
                                            use to style each element
                                            <code>.accordion-body</code>, though the transition does limit overflow.
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                            <div ngbAccordionItem="Four">
                                <h2 ngbAccordionHeader>
                                    <button ngbAccordionButton> Do I have the right to return an item?</button>
                                </h2>
                                <div ngbAccordionCollapse>
                                    <div ngbAccordionBody>
                                        <ng-template>
                                            <strong>This is the first item's accordion body.</strong> It is shown by
                                            default, until the collapse plugin adds the appropriate classes that we
                                            use to style each element
                                            <code>.accordion-body</code>, though the transition does limit overflow.
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                            Customer Support ?
                        </div>
                    </div>
                    <div class="card-body">
                        <div ngbAccordion  [closeOthers]="true" class="accordion accordion-customicon1 accordion-primary">
                            <div ngbAccordionItem >
                                <h2 ngbAccordionHeader>
                                    <button ngbAccordionButton> What is the order procedure?</button>
                                </h2>
                                <div ngbAccordionCollapse>
                                    <div ngbAccordionBody>
                                        <ng-template>
                                            <strong>This is the first item's accordion body.</strong> It is shown by
                                            default, until the collapse plugin adds the appropriate classes that we
                                            use to style each element
                                            <code>.accordion-body</code>, though the transition does limit overflow.
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                            <div ngbAccordionItem [collapsed]="false">
                                <h2 ngbAccordionHeader>
                                    <button ngbAccordionButton>
                                        How and when do I receive the invoices? 
                                    </button>
                                </h2>
                                <div ngbAccordionCollapse>
                                    <div ngbAccordionBody>
                                        <ng-template>
                                            <strong>This is the first item's accordion body.</strong> It is shown by
                                            default, until the collapse plugin adds the appropriate classes that we
                                            use to style each element
                                            <code>.accordion-body</code>, though the transition does limit overflow.
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                            <div ngbAccordionItem >
                                <h2 ngbAccordionHeader>
                                    <button ngbAccordionButton> Which method of ordering is best for me?</button>
                                </h2>
                                <div ngbAccordionCollapse>
                                    <div ngbAccordionBody>
                                        <ng-template>
                                            <strong>This is the first item's accordion body.</strong> It is shown by
                                            default, until the collapse plugin adds the appropriate classes that we
                                            use to style each element
                                            <code>.accordion-body</code>, though the transition does limit overflow.
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                            <div ngbAccordionItem >
                                <h2 ngbAccordionHeader>
                                    <button ngbAccordionButton>What does an order cost?</button>
                                </h2>
                                <div ngbAccordionCollapse>
                                    <div ngbAccordionBody>
                                        <ng-template>
                                            <strong>This is the first item's accordion body.</strong> It is shown by
                                            default, until the collapse plugin adds the appropriate classes that we
                                            use to style each element
                                            <code>.accordion-body</code>, though the transition does limit overflow.
                                        </ng-template>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                            Still Have Questions ?
                            <span class="subtitle fw-normal text-muted d-block fs-12">
                                You can post your questions here,our support team is always active.
                            </span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row gy-3">
                            <div class="col-xl-6">
                                <label for="user-name" class="form-label">Your Name</label>
                                <input type="text" class="form-control form-control-light" id="user-name"
                                    placeholder="Enter Your Name">
                            </div>
                            <div class="col-xl-6">
                                <label for="user-email" class="form-label">Email Id</label>
                                <input type="text" class="form-control form-control-light" id="user-email"
                                    placeholder="Enter Email">
                            </div>
                            <div class="col-xl-12">
                                <label for="text-area" class="form-label">Textarea</label>
                                <textarea class="form-control form-control-light" placeholder="Enter your question here"
                                    id="text-area" rows="2"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary btn-wave float-end">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End::row-1 -->