.main-image img {
    height: 400px; /* Adjust this value as needed */
    width: 100%; /* Ensure the image width covers the container */
    object-fit: contain; /* Maintain aspect ratio and cover the area */
    border: 2px solid #ddd; /* Optional: Add border to main image */
    transition: border-color 0.5s ease, opacity 0.5s ease; /* Smooth transition for border and opacity */
    object-position: 50% 50%; /* Center the image */
}


.thumbnail {
    cursor: pointer;
    width: 100px;
    /* Thumbnail width */
    height: 100px;
    /* Thumbnail height */
    object-fit: cover;
    transition: border 0.3s ease;
}

.thumbnail:hover {
    border: 2px solid #007bff;
}
