<div class="p-4">
    <div class="d-flex-b">
        <h6>Create Flow</h6>
        <button type="button" class="btn btn-outline-primary btn-wave">X</button>
    </div>

    <!-- Body Content Start-->
    <div class="body mt-3">
        <div class="row">
            <!-- Edit Content -->
            <div class="col-8">

                <h6>Edit Content</h6>

                <!-- <div ngbAccordion id="screenTitle">
                    <div ngbAccordionItem [collapsed]="false">
                        <h2 ngbAccordionHeader id="headingOne">
                            <button ngbAccordionButton type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Screen title
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" ngbAccordionCollapse
                            aria-labelledby="headingOne" data-bs-parent="#screenTitle">
                            <div ngbAccordionBody>
                                <input type="text" class="form-control" placeholder="Enter screen title"
                                aria-label="Footer Name" />
                            </div>
                        </div>
                    </div>
                
                </div> -->

                <h6>Button <Span>Continue</Span></h6>

                <div class="btn-group" ngbDropdown>
                    <button type="button" class="btn btn-primary dropdown-toggle" ngbDropdownToggle
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Add Content
                    </button>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                        <li><a ngbDropdownItem class="dropdown-item" href="javascript:void(0);">Text</a></li>
                        <li><a ngbDropdownItem class="dropdown-item" href="javascript:void(0);">Media</a>
                        </li>
                        <li><a ngbDropdownItem class="dropdown-item" href="javascript:void(0);">Text Answer</a></li>
                        <li><a ngbDropdownItem class="dropdown-item" href="javascript:void(0);">Selection</a>
                        </li>
                    </ul>
                </div>


                
            
            </div>

                <!-- Preview Content -->
                <div class="col-4">col-4</div>

            </div>
        </div>
        <!-- Body Content End-->
    </div>