<!-- Button to Open Modal -->
<div class="container mt-4">
  <div class="d-flex justify-content-end mb-3">
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#messageModal"
      (click)="openModal(content)"
    >
      Open Message Form
    </button>
  </div>

  <!-- Grid of Cards for User and Bot Messages -->
  <div class="row">
    <!-- Display this message when dummyStoreMessageReplies is empty -->
    <div
      *ngIf="!storeMessageReplies || storeMessageReplies.length === 0"
      class="col-12 text-center"
    >
      <div class="alert alert-info">
        <h4 class="alert-heading">No Messages Found</h4>
        <p>It looks like there are no messages to display at the moment.</p>
      </div>
    </div>

    <div class="col-md-4 mb-4" *ngFor="let data of storeMessageReplies">
      <!-- Card Container -->
      <div class="card border-light shadow-sm rounded">
        <!-- Card Body -->
        <div class="card-body p-4">
          <!-- User Message -->
          <div class="mb-3">
            <h6 class="card-title mb-2 text-dark">User</h6>
            <p class="card-text mb-1">
              <strong>Type:</strong> <i> {{ data?.type }}</i>
            </p>
            <p class="card-text">{{ data?.message }}</p>
          </div>
          <!-- Bot Message Section -->
          <div class="border-top pt-3 mt-3">
            <h6 class="card-title mb-2 text-dark">Bot</h6>
            <p class="card-text mb-1">
              <strong>Reply Type:</strong> <i> {{ data?.replyType }}</i>
            </p>
            <p class="card-text">{{ data?.replyContent }}</p>
          </div>
        </div>
        <!-- Card Footer -->
        <div class="card-footer bg-light text-end border-top">
                    <button class="btn btn-primary btn-sm" (click)="viewButton(content, data)">
                        View
                    </button>
                    <button class="btn btn-danger btn-sm mx-3" (click)="deleteMessage(data.id)">
                       Delete
                    </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<ng-template #content role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Message and Reply Form</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      id="close-modal"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="card-body p-4">
    <form [formGroup]="messageForm" (ngSubmit)="validSubmit()">
      <!-- Message -->
      <div class="mb-3">
        <label for="form-text" class="form-label fs-14 text-dark"
          >Message</label
        >
        <input
          type="text"
          class="form-control"
          id="form-text"
          placeholder="Enter your message"
          formControlName="message"
        />
      </div>

      <!-- Type -->
      <div class="mb-3">
        <label for="form-password" class="form-label fs-14 text-dark"
          >Message Type</label
        >
        <select
          id="inputState"
          class="form-select form-select-lg"
          formControlName="type"
        >
          <option value="" disabled selected>Please select type</option>
          @for (data of type; track $index) {
          <option [value]="data.value">{{ data.title }}</option>
          }
        </select>
      </div>

      <!-- Reply Type -->
      <div class="mb-3">
        <label for="form-password" class="form-label fs-14 text-dark"
          >Reply Type</label
        >
        <select
          id="inputState"
          class="form-select form-select-lg"
          formControlName="replyType"
        >
          <option value="" disabled selected>Please select reply type</option>
          @for (data of replytype; track $index) {
          <option [value]="data.value">{{ data.title }}</option>
          }
        </select>
      </div>

      <!-- Reply Content -->
      @if(messageForm.get('replyType')?.value === 'text'){
      <div class="mb-3">
        <label for="form-text" class="form-label fs-14 text-dark"
          >Reply Content</label
        >
        <input
          type="text"
          class="form-control"
          id="form-text"
          placeholder="Enter reply content"
          formControlName="replyContent"
        />
      </div>
      }

      <!-- Template Content -->
      @if(messageForm.get('replyType')?.value === 'template'){
        <div class="mb-3">
        <ng-select
          [items]="getTemplateStoreRecords"
          bindLabel="name"
          bindValue="id"
          formControlName="templateId"
          id="ng-select-dropdown"
          (change)="onTemplateSelect($event)"
          ></ng-select>
        </div>
      }

      <div *ngIf="templateComponents.length > 0">
        <label>Select components:</label>
        <div *ngFor="let component of templateComponents">
          <input
            type="checkbox"
            [value]="component"
            (change)="onComponentSelect($event, component)"
          />
          {{ component.type }}: {{ component.text }}
        </div>
      </div>
      

      <!-- Flow Content -->
      @if(messageForm.get('replyType')?.value === 'flow'){
        <div class="mb-3">
        <ng-select
          [items]="getFlowStoreRecords"
          bindLabel="name"
          bindValue="id"
          formControlName="replyContent"
          id="ng-select-dropdown"
          ></ng-select>
        </div>
      }

      <!-- Reply type Image || Video || Document -->
      @if(messageForm.get('replyType')?.value === 'image' || messageForm.get('replyType')?.value === 'video' || messageForm.get('replyType')?.value === 'document'){
        <div class="mb-3">
          <file-pond
            #myPond
            [options]="pondOptions"
            class="multiple-filepond box-container flex-col"
            [files]="pondFiles"
            (onaddfile)="pondHandleAddFile($event)"
            (onremovefile)="pondRemoveFile($event)"
          ></file-pond>
        </div>
      }

      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>
</ng-template>
