.preview-box {
    border-radius: 10px;
    height: calc(100vh - 200px);
    .whatsapp-bft-color {
        background: #eeeae1;
        border-radius: 10px;
        height: 95%;
    }
}

.btn-group{
    gap: 30px;
}

.custom-check {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.custom-check .form-check-input {
    width: auto;
    height: auto;
    flex-shrink: 0;
    width: 40px; /* Adjust size as necessary */
    height: 40px;
    margin-right: 15px;
}

.custom-check .text-container {
    display: flex;
    flex-direction: column;
}

.custom-check .form-check-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.font-weight-bold{
    font-weight: 800;
}

.br-10{
    border-radius: 10px;
}

.bg-white{
    background-color: #fff;
}