<div class="container-fluid position-relative">
    <div class="row">
        <div class="col-md-8">
            <!-- </div> -->
            <mat-horizontal-stepper [linear]="true" #stepper>
                <mat-step label="Set up template">
                    <div class="mt-4">
                        <h6 class="font-weight-bold">Set up your template</h6>
                        <p class="mt-3">Choose the category that best describes your message template. Then select the type
                            of message you
                            want to send. <a href="#" class="text-primary">Learn more about categories.</a></p>
    
                        <div class="form-check custom-check mt-3">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                                value="option1" checked>
                            <div class="text-container">
                                <label class="form-check-label" for="exampleRadios1">Custom</label>
                                <p>Send promotions or announcements to increase awareness and engagement.</p>
                            </div>
                        </div>
    
                        <div class="form-check custom-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3"
                                value="option3">
                            <div class="text-container">
                                <label class="form-check-label" for="exampleRadios3">Flows</label>
                                <p>Send a form to capture customer interests, appointment requests, or run surveys.</p>
                            </div>
                        </div>

                        <div class="form-check custom-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                                value="option2">
                            <div class="text-container">
                                <label class="form-check-label" for="exampleRadios2">Order Details</label>
                                <p>Send messages through which customers can pay you.</p>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between mt-3 custom-btn">
                        <button class="btn btn-primary-light m-1 float-right" matStepperNext>Next</button>
                    </div>
                </mat-step>

                <mat-step label="Edit template">
                    <div class="d-flex justify-content-between mt-3 custom-btn">
                        <button class="btn btn-light m-1" matStepperPrevious>Previous</button>
                        <button class="btn btn-primary-light m-1" matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step label="Submit for review">

                    <div class="d-flex justify-content-between mt-3 custom-btn">
                        <button class="btn btn-light m-1" matStepperPrevious>Previous</button>
                        <button class="btn btn-primary-light m-1" >Finish</button>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>

            <!-- <div class="bg-white p-4 mt-4 br-10 shadow-sm">
                <h6 class="font-weight-bold">Set up your template</h6>
                <p class="mt-3">Choose the category that best describes your message template. Then select the type of message you
                    want to send. <a href="#" class="text-primary">Learn more about categories.</a></p>

                    <div class="form-check custom-check mt-3">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                        <div class="text-container">
                            <label class="form-check-label" for="exampleRadios1">Custom</label>
                            <p>Send promotions or announcements to increase awareness and engagement.</p>
                        </div>
                    </div>
                    
                    <div class="form-check custom-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                        <div class="text-container">
                            <label class="form-check-label" for="exampleRadios2">Catalog</label>
                            <p>Send messages about your entire catalog or multiple products from it.</p>
                        </div>
                    </div>
                    
                    <div class="form-check custom-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
                        <div class="text-container">
                            <label class="form-check-label" for="exampleRadios3">Flows</label>
                            <p>Send a form to capture customer interests, appointment requests, or run surveys.</p>
                        </div>
                    </div>
                    
            </div> -->
        </div>
        <div class="col-md-4 bg-white p-4 preview-box shadow-sm">
            <h6 class="font-weight-bold">Preview</h6>
            <div class="whatsapp-bft-color"></div>
        </div>
    </div>
</div>