<!-- Start::row-1 -->
<div class="row">
  <div class="col-xl-3">
    <div class="card custom-card">
      <div class="card-header d-grid">
        <button class="btn btn-primary-light btn-wave">
          <i
            class="ri-add-line align-middle me-1 fw-semibold d-inline-block"
          ></i
          >Create New Event
        </button>
      </div>
      <div class="card-body p-0">
        <div  mwlDroppable
              (drop)="externalDrop($event.dropData.event)"
              dragOverClass="drag-over" id="external-events" class="border-bottom p-3">
              @for(event of events;track $index){
                <div  
                          mwlDraggable
                          [dropData]="{ event: event }"
                          [touchStartLongPress]="{ delay: 300, delta: 30 }"
                          dragActiveClass="drag-active"
                  class="fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event bg-{{event.cssClass}} border border-{{event.cssClass}}"
                >
                  <div class="fc-event-main"> {{ event.title }}</div>
                </div>
              }
        </div>
        <div class="p-3">
          <div class="d-flex align-items-center justify-content-between">
            <h6 class="fw-semibold">
              Activity :
            </h6>
            <button class="btn btn-primary-light btn-sm btn-wave">View All</button>
          </div>
        </div>
        <div class="p-3 border-bottom overflow-y-scroll" id="full-calendar-activity">
          <ul class="list-unstyled mb-0 fullcalendar-events-activity">
            <li>
              <div class="d-flex align-items-center justify-content-between flex-wrap">
                <p class="mb-1 fw-semibold">
                  Monday, Jan 1,2023
                </p>
                <span class="badge bg-light text-default mb-1">12:00PM - 1:00PM</span>
              </div>
              <p class="mb-0 text-muted fs-12">
                Meeting with a client about new project requirement.
              </p>
            </li>
            <li>
              <div class="d-flex align-items-center justify-content-between flex-wrap">
                <p class="mb-1 fw-semibold">
                  Thursday, Dec 29,2022
                </p>
                <span class="badge bg-success mb-1">Completed</span>
              </div>
              <p class="mb-0 text-muted fs-12">
                Birthday party of niha suka
              </p>
            </li>
            <li>
              <div class="d-flex align-items-center justify-content-between flex-wrap">
                <p class="mb-1 fw-semibold">
                  Wednesday, Jan 3,2023
                </p>
                <span class="badge bg-warning-transparent mb-1">Reminder</span>
              </div>
              <p class="mb-0 text-muted fs-12">
                WOrk taget for new project is completing
              </p>
            </li>
            <li>
              <div class="d-flex align-items-center justify-content-between flex-wrap">
                <p class="mb-1 fw-semibold">
                  Friday, Jan 20,2023
                </p>
                <span class="badge bg-light text-default mb-1">06:00PM - 09:00PM</span>
              </div>
              <p class="mb-0 text-muted fs-12">
                Watch new movie with family
              </p>
            </li>
            <li>
              <div class="d-flex align-items-center justify-content-between flex-wrap">
                <p class="mb-1 fw-semibold">
                  Saturday, Jan 07,2023
                </p>
                <span class="badge bg-danger-transparent mb-1">Due Date</span>
              </div>
              <p class="mb-0 text-muted fs-12">
                Last day to pay the electricity bill and water bill.need to check the bank details.
              </p>
            </li>
          </ul>
        </div>
        <div class="p-3">
          <img src="./assets/images/media/media-83.svg" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-9">
    <div class="card custom-card">
      <div class="card-header">
        <div class="card-title">Full Calendar</div>
      </div>
      <div class="card-body">
        <div id="calendar2">
          <div class="d-flex align-items-center justify-content-between flex-wrap gap-1">
            <div class="text-start mb-2">
              <div class="btn-group">
                <div
                  class="btn btn-primary"
                  mwlCalendarPreviousView
                  [view]="view"
                  [(viewDate)]="viewDate"
                  (viewDateChange)="closeOpenMonthViewDay()"
                >
                  <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </div>
                <div
                  class="btn btn-primary"
                  mwlCalendarNextView
                  [view]="view"
                  [(viewDate)]="viewDate"
                  (viewDateChange)="closeOpenMonthViewDay()"
                >
                  <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </div>
              </div>
                <div
                  class="btn btn-primary ms-2 disabled"
                  mwlCalendarToday
                  [(viewDate)]="viewDate"
                >
                  Today
              </div>
            </div>
            <div class="mb-2">
              <h3>{{ viewDate | calendarDate : view + "ViewTitle" : "en" }}</h3>
            </div>
            <div class="text-end mb-2">
              <div class="btn-group">
                <div
                  class="btn btn-primary mb-1"
                  (click)="setView(CalendarView.Month)"
                  [class.active]="view === CalendarView.Month"
                >
                  Month
                </div>
                <div
                  class="btn btn-primary mb-1"
                  (click)="setView(CalendarView.Week)"
                  [class.active]="view === CalendarView.Week"
                >
                  Week
                </div>
                <div
                  class="btn btn-primary mb-1"
                  (click)="setView(CalendarView.Day)"
                  [class.active]="view === CalendarView.Day"
                >
                  Day
                </div>
                <button
                  class="btn btn-raised btn-primary float-end mb-1"
                  (click)="addEvent()"
                >
                  List
                </button>
              </div>
            </div>
          </div>
        </div>
        @switch (view) {
          @case ('month') {
            <mwl-calendar-month-view  [viewDate]="viewDate"
                [events]="events" [activeDayIsOpen]="activeDayIsOpen" [refresh]="refresh"
                (dayClicked)="dayClicked($event.day)"
                (eventClicked)="handleEvent('Clicked', $event.event)"
                (eventTimesChanged)="eventTimesChanged($event)">
            </mwl-calendar-month-view>
          }
          @case ("week"){
            <mwl-calendar-week-view  [viewDate]="viewDate"
                [events]="events" [refresh]="refresh" [snapDraggedEvents]="false"
                (eventClicked)="handleEvent('Clicked', $event.event)"
                (eventTimesChanged)="eventDropped($event)">
            </mwl-calendar-week-view>
          }
          @case ("day"){
            <mwl-calendar-day-view  [viewDate]="viewDate"
                [events]="events" [refresh]="refresh" [snapDraggedEvents]="false"
                (eventClicked)="handleEvent('Clicked', $event.event)"
                (eventTimesChanged)="eventDropped($event)">
            </mwl-calendar-day-view>
          }
        }
        </div>
    </div>
  </div>
</div>
<!--End::row-1 -->

<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">{{ modalData.action }}</h5>
    <button type="button" class="btn-close" (click)="close()">
      <!-- <span aria-hidden="true">&times;</span> -->
    </button>
  </div>
  <div class="modal-body">
    <form action="#" class="form form-horizontal">
      <div class="form-body">
        <div class="form-group mb-2">
          <label>Event Title:</label>
          <input
            type="text"
            name="event-title"
            class="form-control"
            [(ngModel)]="modalData['event']['title']"
            (keyup)="refresh.next(true)"
            autocomplete="off"
          />
        </div>
        <div class="form-group">
          <label>Starts At:</label>
          <input
            class="form-control"
            name="event-title2"
            type="text"
            mwlFlatpickr
            [(ngModel)]="modalData['event']['start']"
            ngbDatepicker
            #d="ngbDatepicker"
            (click)="d.toggle()"
          />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="close()">OK</button>
  </div>
</ng-template>
