<!-- Start::row-1 -->
<div class="row">
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-body p-0">
                <nav class="navbar navbar-expand-xxl bg-white">
                    <div class="container-fluid">
                        <button (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed3" class="navbar-toggler"
                            type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed3"
                            class="collapse navbar-collapse navbar-justified flex-wrap gap-2"
                            id="navbarSupportedContent">
                            <div class="d-flex" role="search">
                                <input class="form-control me-2" type="search" placeholder="Search" #filter
                                    (input)="onSerach($event)" [formControl]="searchText" aria-label="Search" />
                            </div>
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-xxl-center">
                                <li class="nav-item mb-xxl-0 mb-2 ms-xxl-0 ms-3">
                                    <div class="btn-group d-xxl-flex d-block" ngbDropdown>
                                        <button class="btn btn-sm btn-primary-light" ngbDropdownToggle type="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            Sort By
                                        </button>
                                        <ul class="dropdown-menu" ngbDropdownMenu>
                                            <li>
                                                <a href="javascript:void(0)" ngbDropdownItem>Featured</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" ngbDropdownItem>Price: High to Low</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" ngbDropdownItem>Price: Low to High</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" ngbDropdownItem>Newest</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)" ngbDropdownItem>Ratings</a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-12">
        <div class="card custom-card products-navigation-card">
            <div class="card-body p-0">
                <div class="p-4 border-bottom">
                    <p class="fw-semibold mb-0 text-muted">CATEGORIES</p>
                    <div class="px-2 py-3 pb-0">
                        @for (category of categoryItems; track category;let i = $index) {
                        @if(i < 3){ <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" [id]="category?._id" />
                            <label class="form-check-label" for="electronics">
                                {{ category.name }}
                            </label>
                    </div>
                    } }
                    @if(categoryItems.length > 3){ 

                    <div class="collapse" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
                        @for (category of categoryItems; track category;let i = $index) {
                        @if(i >= 3){ 
                            <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox" value="" [id]="category?._id" />
                            <label class="form-check-label" for="electronics">
                                {{ category.name }}
                            </label>
                        </div>

                        }
                        }
                    </div>
                    <a class="ecommerce-more-link" data-bs-toggle="collapse" (click)="isCollapsed = !isCollapsed"
                        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample" role="button"
                        aria-expanded="false" aria-controls="category-more">
                        MORE</a>
                }
                </div>
            </div>

            <div class="p-4 border-bottom">
                <div class="px-2 py-3 pb-0">
                    <p class="fw-semibold mb-0 text-muted">PRICE RANGE</p>
                    <div class="" id="product-price-range">
                        <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xxl-9 col-xl-8 col-lg-8 col-md-12">
    <div class="row">
        @for (item of productItems; track $index) {
        <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div class="card custom-card product-card">
                <div class="card-body">
                    <a (click)="viewProduct(item)" class="product-image">
                        <img [src]="item?.images[0]" class="card-img mb-3" alt="..."
                            style="height: 150px; object-fit: cover" />
                    </a>
                    <div class="product-icons">
                        <a (click)="deleteProduct(item?._id)" class="wishlist" style="cursor: pointer"
                            ngbTooltip="Delete"><i class="fe fe-trash-2"></i></a>
                        <a (click)="editProduct(item)" class="cart" style="cursor: pointer" ngbTooltip="Edit"><i
                                class="fe fe-edit"></i></a>
                        <a (click)="viewProduct(item)" class="view" style="cursor: pointer" ngbTooltip="View"><i
                                class="ri-eye-line"></i></a>
                    </div>
                    <p class="product-name fw-semibold mb-0 d-flex align-items-center justify-content-between">
                        {{ item?.productName
                        }}
                    </p>
                    <p class="product-description fs-11 text-muted mb-2">
                        {{ item?.description }}
                    </p>
                    <p class="mb-1 fw-semibold fs-16 d-flex align-items-center justify-content-between">
                        <span>{{ item.displayPrice | currency : "INR" : "symbol" : "1.2-2"
                            }}<span class="text-muted text-decoration-line-through ms-1 d-inline-block op-6">{{
                                item.actualPrice | currency : "INR" : "symbol" : "1.2-2"
                                }}</span></span><span class="badge bg-secondary-transparent float-end fs-10">72%
                            off</span>
                    </p>
                    <p class="fs-11 text-success fw-semibold mb-0 d-flex align-items-center">
                        @if(item.packOfPic){

                        <i class="ti ti-discount-2 fs-16 me-1"></i>Offer Price
                        {{ item.packOfPic | currency : "INR" : "symbol" : "1.2-2" }}
                        }
                    </p>
                </div>
            </div>
        </div>
        }

        <div>
            <ul class="pagination justify-content-end">
                <ngb-pagination [page]="pageIndex" [collectionSize]="totalItems" [pageSize]="pageSize"
                    (pageChange)="onPageChange($event)" aria-label="Custom pagination">
                    <ng-template ngbPaginationPrevious>Prev</ng-template>
                    <ng-template ngbPaginationNext>Next</ng-template>
                </ngb-pagination>
            </ul>
        </div>
    </div>
</div>
</div>
<!--End::row-1 -->