<div class="container-fluid">
  <div class="main-chart-wrapper gap-2 d-lg-flex">
    <div class="chat-info border customtab" (click)="bodyClick()">
      <a aria-label="anchor" href="javascript:void(0)" class="btn btn-secondary btn-icon rounded-circle chat-add-icon">
        <i class="ri-add-line"></i>
      </a>
      <div class="d-flex align-items-center justify-content-between w-100 p-3 border-bottom">
        <div>
          <h5 class="fw-semibold mb-0">Messages</h5>
        </div>

      </div>
      <div class="chat-search p-3 border-bottom">
        <div class="input-group">
          <input type="text" class="form-control bg-light border-0" placeholder="Search User"
            aria-describedby="button-addon2" [(ngModel)]="searchUser" />
          <button aria-label="button" class="btn btn-light" type="button" id="button-addon2"
            (click)="searchUserMethod()">
            <i class="ri-search-line text-muted"></i>
          </button>
        </div>
      </div>
      <ngx-simplebar class="list-unstyled mb-0 mt-2 chat-users-tab" id="chat-msg-scroll">
        @if(RecentData.length>0){
        <li class="pb-0">
          <p class="text-muted fs-11 fw-semibold mb-2 op-7">
            ACTIVE CHATS
          </p>
        </li>
        }
        @for(data of getAllConversationList;track $index){
        <li class="checkforactive">
          <a href="javascript:void(0);" (click)="handleClick(data);getUserMessage(data)">
            <div class="d-flex align-items-top">
              <div class="me-1 lh-1">
                <span class="avatar avatar-md online me-2 avatar-rounded">
                  <img src="https://static.vecteezy.com/system/resources/thumbnails/036/280/650/small/default-avatar-profile-icon-social-media-user-image-gray-avatar-icon-blank-profile-silhouette-illustration-vector.jpg" alt="img" />
                </span>
              </div>
              <div class="flex-fill">
                <p class="mb-0 fw-semibold">
                  {{ data.whatsappUser.name
                  }}
                  <span class="float-end text-muted fw-normal fs-11">{{data?.time ? data?.time : '-'}}</span>
                </p>
                <!-- <p class="fs-12 mb-0">
                  <span class="chat-msg text-truncate">{{
                    data.messages[0].text
                    }}</span>
                  @if(data.isMessageRead){

                    <span class="chat-read-icon float-end align-middle"><i
                        class="ri-check-double-line"></i>
                        </span>
                  } @else if(!data.isMessageRead){
                    <span class="chat-read-icon float-end align-middle"><i
                      class="ri-check-single-line"></i>
                      </span>
                  }
                  @if(data.pendingMessage){
                    <span class="badge bg-success-transparent rounded-circle float-end">{{ data.pendingMessage }}</span>
                  }
                </p> -->
              </div>
            </div>
          </a>
        </li>
        }
        @if(getAllConversationList?.length==0){
        <li class="text-danger">
          No user found
        </li>
        }
      </ngx-simplebar>

      <div class="mt-2"></div>

    </div>
    <!-- slide two -->
    <div class="main-chat-area border">
      <!-- Chat Header Section Start -->
      <div class="d-flex align-items-center p-2 border-bottom">
        <div class="me-2 lh-1">
          <span class="avatar avatar-lg online me-2 avatar-rounded chatstatusperson">
            <img class="chatimageperson" src="https://static.vecteezy.com/system/resources/thumbnails/036/280/650/small/default-avatar-profile-icon-social-media-user-image-gray-avatar-icon-blank-profile-silhouette-illustration-vector.jpg" alt="img" />
          </span>
        </div>
        <div class="flex-fill">
          <p class="mb-0 fw-semibold fs-14">
            <a href="javascript:void(0);"
              class="chatnameperson responsive-userinfo-open">{{userMessage?.user?.whatsappUser?.name}}</a>
          </p>
        </div>
      </div>
      <!-- Chat Header Section End -->


      @if(!showPreview){
        <ngx-simplebar class="chat-content" id="main-chat-content" (click)="bodyClick()">
          <ul class="list-unstyled" 
          infiniteScroll
          [infiniteScrollDistance]="2"
          [infiniteScrollThrottle]="50"
          (scrolled)="onScroll()"
    >
            <li class="chat-day-label">
              <span>Today</span>
            </li>
            @if(userMessage?.message?.length > 0){
              @for (message of userMessage?.message; track message;let i = $index) {
              @if(message?.sendBy === 'USER'){
              <li class="chat-item-start">
                <div class="chat-list-inner">
                  <div class="ms-3">
                    <div class="main-chat-msg">
                      <div>
                        @if(message?.type === 'text'){
                          <p class="mb-0">
                            {{message.content}}
                          </p>
                        } @else if(message?.type === 'image'){
                          <img [src]="message.content" alt="" style="height: 300px;width: 300px;object-fit: contain;">
                        }
                      </div>
                      <span class="msg-sent-time">{{message.updatedAt | date: 'h:mm a'}}</span>
                    </div>
                  </div>
                </div>
              </li>
    
              } @else if(message?.sendBy === 'OWNER') {
              <li class="chat-item-end">
                <div class="chat-list-inner">
                  <div class="me-3">
                   
                    <div class="main-chat-msg">
                      <div>
            
                        @if(message?.type === 'text'){
                          <p class="mb-0">
                            {{message.content}}
                          </p>
                        } @else if(message?.type === 'image'){
                          <img [src]="message.content" alt="" style="height: 300px;width: 300px;object-fit: contain;">
                        }
                       
                      </div>
                      <span class="chatting-user-info">
                        <span>
                          <span class="chat-read-mark align-middle d-inline-flex"><i class="ri-check-double-line"></i></span>
                          <span class="msg-sent-time-user">{{message.updatedAt | date: 'h:mm a'}}</span>
                        </span>
                      </span>
                    </div>
                  </div>
                  
                </div>
              </li>
    
              }
              }
            }
          </ul>
        </ngx-simplebar>
      } @else {
        <div (click)="closePreview()" class="my-2">
          <div class="modal-content" (click)="$event.stopPropagation()">
            <button class="close-button" (click)="closePreview()">
              <i class="ri-close-line"></i>
            </button>
            <h4>File Preview</h4>
            <div *ngIf="fileType === 'image'" class="preview-image">
              <img [src]="filePreview" alt="Image Preview" />
            </div>
            <div *ngIf="fileType === 'pdf'" class="preview-pdf">
              <p>PDF Preview Not Available</p>
            </div>
          </div>
        </div>
      }
      <div class="chat-footer">
        <textarea class="form-control" placeholder="Type your message here..." type="text" [(ngModel)]="message" rows="2"></textarea>
       
        @if(!showPreview){
          <div class="attachment-container">
            <!-- File Input -->
            <input 
              type="file" 
              [accept]="fileAccept" 
              (change)="handleFileUpload($event)" 
              style="display: none;" 
              #fileInput 
            />
          
            <!-- Attachment Button with Popover -->
            <button 
            aria-label="upload" 
            class="btn btn-icon mx-2 btn-info" 
            [ngbPopover]="popoverContent"          
             #p="ngbPopover" 
             placement="top"
            triggers="click:outsideClick" 
            (click)="p.open()"
          >
              <i class="ri-attachment-line"></i>
            </button>
          
            <!-- Popover Content -->
            <ng-template #popoverContent>
              <div class="popover-menu">
                <button class="btn btn-link" (click)="selectFileType('image/*');chatType='image'">Image</button>
                <button class="btn btn-link" (click)="selectFileType('video/*');chatType='video'">Video</button>
                <button class="btn btn-link" (click)="selectFileType('.pdf,.doc,.docx,.xlsx');chatType='document'">Document</button>
              </div>
            </ng-template>
          </div>
          
        }
        <a aria-label="anchor" class="btn btn-primary btn-icon btn-send" href="javascript:void(0)" (click)="sendMessage()">
          <i class="ri-send-plane-2-line"></i>
        </a>
      </div>
    </div>

    <!-- <ngx-simplebar #chatuserdetails class="chat-user-details border" id="chat-user-details">
      <button (click)="removedetails()" aria-label="button" type="button"
        class="btn btn-icon btn-outline-light my-1 ms-2 responsive-chat-close2">
        <i class="ri-close-line"></i>
      </button>
      <div class="text-center mb-5">
        <span class="avatar avatar-rounded {{activeUser.status}} avatar-xxl me-2 mb-3 chatstatusperson">
          <img class="chatimageperson" [src]="activeUser.src" alt="img" />
        </span>
        <p class="mb-1 fs-15 fw-semibold text-dark lh-1 chatnameperson">
          {{activeUser.name}}
        </p>
        <p class="fs-12 text-muted">
          <span class="chatnameperson">{{activeUser.name}}</span>&#64;gmail.com
        </p>
        <p class="text-center mb-0">
          <button type="button" aria-label="button" class="btn btn-icon rounded-pill btn-primary-light">
            <i class="ri-phone-line"></i>
          </button>
          <button type="button" aria-label="button" class="btn btn-icon rounded-pill btn-primary-light ms-2">
            <i class="ri-video-add-line"></i>
          </button>
          <button type="button" aria-label="button" class="btn btn-icon rounded-pill btn-primary-light ms-2">
            <i class="ri-chat-1-line"></i>
          </button>
        </p>
      </div>
      <div class="mb-5">
        <div class="fw-semibold mb-4">
          Shared Files
          <span class="badge bg-primary-transparent rounded-circle ms-1">4</span>
          <span class="float-end fs-11"><a href="javascript:void(0);" class="link-primary text-underline"><u>View
                All</u></a></span>
        </div>
        <ul class="shared-files list-unstyled">
          <li>
            <div class="d-flex align-items-center">
              <div class="me-2">
                <span class="shared-file-icon">
                  <i class="ti ti-file-text"></i>
                </span>
              </div>
              <div class="flex-fill">
                <p class="fs-12 fw-semibold mb-0">Project Details.pdf</p>
                <p class="mb-0 text-muted fs-11">24,Oct 2022 - 14:24PM</p>
              </div>
              <div class="fs-18">
                <a aria-label="anchor" href="javascript:void(0)"><i class="ri-download-2-line text-muted"></i></a>
              </div>
            </div>
          </li>
          <li>
            <div class="d-flex align-items-center">
              <div class="me-2">
                <span class="shared-file-icon">
                  <i class="ri-image-line"></i>
                </span>
              </div>
              <div class="flex-fill">
                <p class="fs-12 fw-semibold mb-0">Img_02.Jpg</p>
                <p class="mb-0 text-muted fs-11">22,Oct 2022 - 10:19AM</p>
              </div>
              <div class="fs-18">
                <a aria-label="anchor" href="javascript:void(0)"><i class="ri-download-2-line text-muted"></i></a>
              </div>
            </div>
          </li>
          <li>
            <div class="d-flex align-items-center">
              <div class="me-2">
                <span class="shared-file-icon">
                  <i class="ri-image-line"></i>
                </span>
              </div>
              <div class="flex-fill">
                <p class="fs-12 fw-semibold mb-0">Img_15.Jpg</p>
                <p class="mb-0 text-muted fs-11">22,Oct 2022 - 10:18AM</p>
              </div>
              <div class="fs-18">
                <a aria-label="anchor" href="javascript:void(0)"><i class="ri-download-2-line text-muted"></i></a>
              </div>
            </div>
          </li>
          <li>
            <div class="d-flex align-items-center">
              <div class="me-2">
                <span class="shared-file-icon">
                  <i class="ri-video-line"></i>
                </span>
              </div>
              <div class="flex-fill">
                <p class="fs-12 fw-semibold mb-0">Video_15_02_2022.MP4</p>
                <p class="mb-0 text-muted fs-11">22,Oct 2022 - 10:18AM</p>
              </div>
              <div class="fs-18">
                <a href="javascript:void(0)"><i class="ri-download-2-line text-muted"></i></a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="mb-0">
        <div class="fw-semibold mb-4">
          Photos & Media
          <span class="badge bg-primary-transparent rounded-circle ms-1">22</span>
          <span class="float-end fs-11"><a href="javascript:void(0);" class="link-primary text-underline"><u>View
                All</u></a></span>
        </div>
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
            <a aria-label="anchor" [routerLink]="['/apps/gallery']" class="chat-media">
              <img src="./assets/images/media/media-56.jpg" alt="" />
            </a>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
            <a aria-label="anchor" [routerLink]="['/apps/gallery']" class="chat-media">
              <img src="./assets/images/media/media-52.jpg" alt="" />
            </a>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
            <a [routerLink]="['/apps/gallery']" class="chat-media">
              <img src="./assets/images/media/media-53.jpg" alt="" />
            </a>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
            <a [routerLink]="['/apps/gallery']" class="chat-media">
              <img src="./assets/images/media/media-62.jpg" alt="" />
            </a>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
            <a [routerLink]="['/apps/gallery']" class="chat-media">
              <img src="./assets/images/media/media-63.jpg" alt="" />
            </a>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
            <a [routerLink]="['/apps/gallery']" class="chat-media">
              <img src="./assets/images/media/media-64.jpg" alt="" />
            </a>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
            <a [routerLink]="['/apps/gallery']" class="chat-media">
              <img src="./assets/images/media/media-13.jpg" alt="" />
            </a>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
            <a [routerLink]="['/apps/gallery']" class="chat-media">
              <img src="./assets/images/media/media-19.jpg" alt="" />
            </a>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
            <a [routerLink]="['/apps/gallery']" class="chat-media">
              <img src="./assets/images/media/media-20.jpg" alt="" />
            </a>
          </div>
        </div>
      </div>
    </ngx-simplebar> -->
  </div>
</div>

<!-- End::app-content -->